<h1>Drinki</h1>

<table>
<% @coctails.each do |coctail| %>
  <tr>
    <td><%= link_to "#{coctail.name}", coctail %></td>
	<td>Średnia ocena: <%= coctail.ratings.average('rating') %></td>
  </tr>
<% end %>
</table>
