<h1>Składniki</h1>

<table>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= link_to "#{ ingredient.name }", ingredient_coctails_path(ingredient) %></td>
  </tr>
<% end %>
</table>
<div class="pagination">
<%= will_paginate @ingredient %>
</div>

